html {
    color-scheme: dark;
    scroll-behavior: smooth;

    --body-bg: #222120;
    --accent-bg: #e9ddd1;
    --text-color-main: #fff6e6;
    --highlight-color-main: #79f7d7;
    --highlight-color-focus: var(--highlight-color-main);
    --border-color: #444;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

* {
    margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}  

a {
    color: var(--highlight-color-main);
    transition: color .3s ease;
    cursor: pointer;
}

a:hover {
    color: var(--text-color-main);
}

.or-skip-to-main-link {
    display: block;
    padding: 5px;
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: top .3s ease;
    color: var(--text-color-main);
    font-size: 14px;
}

.or-back-to-top-link {
    background-color: var(--body-bg);
    color: var(--text-color-main);
    font-size: 14px;
    padding: 7px 40px 7px 15px;
    cursor: pointer;
    border-radius: 6px;
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    transition: background-color .2s ease;
    display: block;
    width: min-content;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

.or-back-to-top-link:hover {
    text-decoration: underline;
}

.or-back-to-top-link:after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: var(--text-color-main);
    content: '';
    display: inline-block;
    height: 10px;
    position: absolute;
    vertical-align: top;
    width: 10px;
    top: 15px;
    right: 15px;
    transform: rotate(-45deg);
    transition: .2s;
}

.or-skip-to-main-link:focus {
    top: 0;
}

*:focus {
    outline: 2px solid var(--highlight-color-focus);
    outline-offset: 4px;
    border-radius: 2px;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color-main);
    font-family: sans-serif;
}

main:focus {
    outline: none;
}

.or-nobr{
    white-space: nowrap;
}

.or-print-button {
    background-color: var(--accent-bg);
    border: none;
    color: var(--body-bg);
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px 7px 40px;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    transition: background-color .2s ease;
}

.or-print-button:hover {
    text-decoration: underline;
    color: var(--body-bg);
}

.or-print-button svg{
    fill: var(--body-bg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}


.or-list {
    margin: 0 0 15px 0;
    padding: 0;
    list-style-type: none;
}

.or-list > li {
    margin: 0 0 10px 30px;
    padding: 0;
    position: relative;
    color: var(--text-color-main);
    opacity: .85;
}

.or-list > li::before {
    content: "•";
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
}

.container {
    padding: 0 15px;
    width: 100%;
}

.or-main-title {
    font-size: 16px;
}

.or-header {
    padding: 15px 0 30px 0;
}


.or-intro {
    padding: 30px 0 0;
    text-align: center;
}

.or-intro p{
    margin-bottom: 15px;
    text-align: left;
}

.or-intro p:last-of-type {
    margin-bottom: 0;
}

.or-header-photo-wrap {
    width: 100px;
    height: 100px;
    border: 4px solid var(--text-color-main);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    margin: 0 auto;
    box-shadow: 10px 10px 31px 0 rgba(0, 0, 0, .75);
}

.or-header-photo {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.or-contacts {
    margin-top: 10px;
    text-align: center;
}

.or-contacts-email,
.or-contacts-phone{
    display: inline-block;   
    margin: 3px auto;
}

.or-contacts-email:hover,
.or-contacts-phone:hover{
    color: var(--text-color-main);
}

.or-contacts-email span,
.or-contacts-phone span{
    display: none;
}

.or-contacts-delimeter,
.or-contacts-phone {
    display: none;
}

.or-contacts-linkedin {
    display: inline-block;
    border-radius: 3px;
    position: relative;
    bottom: -8px;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.or-contacts-linkedin svg {
    width: 20px;
    height: 20px;
    fill: var(--highlight-color-main);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: fill .3s ease;
}


.or-contacts-linkedin:hover svg{
    fill: var(--text-color-main);
}

.or-header-title-main {
    font-size: 30px;
    display: block;
    margin-top: 15px;
}

.or-header-title {
    text-align: center;
}

.or-header-title-subtitle {
    font-size: 18px;
    display: block;
    margin-top: 5px;
}

.or-section {
    margin-bottom: 30px;
}

.or-section-header {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 3px solid var(--border-color);
}

.or-section-subheader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    font-style: italic;
    color: var(--text-color-main);
}

.or-section-subheader-extra {
    font-size: 14px;
    color: var(--text-color-main);
    font-weight: normal;
    opacity: .7;
    white-space: nowrap;
}

.or-section.or-section--skills {
    margin-bottom: 0;
}

.or-section--skills .or-section-header {
    margin-bottom: 20px;
}

.or-section--skills .or-section-header,
.or-section--employment .or-section-header {
    border-top: none;
}

.or-section.or-section--skills .or-section-content{
    border-radius: 10px;
    padding: 0 15px 30px;
    background-color: var(--accent-bg);
    box-shadow: 10px 10px 31px 0px rgba(0, 0, 0, 0.75);
}

.or-section--skills .or-section-header,
.or-section--skills .or-skill-name,
.or-section--skills .or-skill-years-mb,
.or-section--skills .or-skill-years-dt {
    color: var(--body-bg);
}

.or-company-name {
    white-space: nowrap;
    margin-right: 10px;
}

.or-section-subheader-small-text {
    font-size: 16px;
    margin: 0 2px;
    font-weight: normal;
}

.or-location-icon {
    height: 15px;
    width: 15px;
    fill: var(--text-color-main);
    display: inline;
}

.or-section-heading-small {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    
}

.or-section-duration,
.or-section-duration-dates {
    font-size: 14px;
    margin-bottom: 15px;    
    color: var(--highlight-color-main);
    border: 1px solid var(--highlight-color-main);
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    position: relative;
    background-color: #222c2a;
}

.or-section-duration {
    margin-right: 7px;
}

.or-section-duration:before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: 3px solid var(--highlight-color-main);
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 4px;
}

.or-subsecton {
    margin-bottom: 30px;
    margin-left: 30px;
    position: relative;
    border-bottom: none;
}

.or-subsecton-wrap {
    padding-left: 5px;
    padding-top: 15px;
}

.or-subsecton:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    border-left: 1px dashed var(--highlight-color-main);
    position: absolute;
    left: -22px;
    top: 28px;
}

.or-subsecton:last-of-type::before {
    display: none;
}

.or-subsecton:last-of-type {
    border-bottom: none;
}

.or-skill-list {
    margin-bottom: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.or-skill {
    margin-bottom: 0;
    padding: 5px 0;
    position: relative;    
}

.or-skill-bar {
    height: 8px;
    background-color: var(--body-bg);
    position: relative;
    display: block;
    margin-top: 5px;
    width: 15px;
    transition: width 1.5s ease;    
    transition-delay: .5s;
    border-radius: 5px;
}

.or-skill-years-dt,
.or-skill-years-mb {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color-main);
    display: block;
    margin-left: 10px;
    display: none;
}

.or-skill-years-mb {
    display: inline-block;
    margin-left: 5px;
}

.or-footer-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-top: 3px solid var(--border-color);
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.or-footer-copyright {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    flex-grow: 1;
}

.or-technologies {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.or-technologies > li {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    margin: 0 5px 5px 0;
    position: relative;
    border: 1px solid #52504e;
    border-radius: 3px;
}

.or-footer-github-content {
    margin: 0 0 30px;
    padding-left: 45px;
    position: relative;
}

.or-footer-github-content svg {
    width: 30px;
    height: 30px;
    fill: var(--text-color-main);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}



@media (min-width: 640px){

    .container {
        padding: 0 30px;
        width: 100%;
    }    

    

    .or-skill {
        margin-bottom: 0;        
        display: flex;        
        border-bottom: 1px solid #b1a396;
    }

    .or-skill:last-of-type {
        border-bottom: none;
    }
    
    .or-skill-name {
        width: 50%;
    }

    .or-skill-bar-wrap,
    .or-skill-years-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .or-skill-bar {
        margin: 0;
    }

    .or-skill-years-mb {
        display: none;
    }
    
    .or-skill-years-dt {
        display: block;
    }    
}

@media (min-width: 992px){

    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .or-header {
        padding: 45px 0;
    }    

    .or-intro {
        padding-top: 45px;
    }

    
    .or-section.or-section--skills .or-section-content{
        padding: 0 30px 45px;
    }

    .or-section-header {
        margin-bottom: 45px;
    }

    .or-section--employment .or-section-header {
        padding-top: 60px;
    }

    .or-section-subheader {
        position: relative;
        color: var(--text-color-main);
    }

    .or-subsecton-wrap {
        padding-left: 20px;
        padding-top: 15px;
    }

    .or-subsecton {
        margin-bottom: 45px;
    }

    .or-subsecton:before {
        top: 36px;
    }
    
    .or-header-photo-wrap {
        width: 200px;
        height: 200px;       
    }

    .or-header-title-main {
        font-size: 40px;
    }

    .or-contacts-email,
    .or-contacts-phone{
        display: inline;
    }
    
    .or-contacts-phone {
        display: none;
    }

    .or-section {
        margin-bottom: 45px;
    }
}

@media print {

    * {
        color: #000;
    }

    body {
        background-color: #fff;
    }

    .or-print-button,
    .or-contacts-linkedin,
    .or-footer {
        display: none;
    }

    .or-section {
        margin-bottom: 15px;
    }

    .or-section.or-section--skills .or-section-content {
        background-color: transparent;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0;
    }

    .or-header {
        padding-top: 0;
        padding-bottom: 15px;
    }

    .or-section--employment .or-section-header {
        padding-top: 30px;
    }

    .or-contacts {
        margin-top: 5px;
    }

    .or-intro p {
        margin-bottom: 5px;
    }

    .or-header-photo-wrap {
        display:none;
    }

    .or-header-title-main {
        font-size: 22px;
    }

    .or-header-title-subtitle {
        font-size: 15px;
    }

    .or-intro {
        font-size: 12px;
        padding-top: 15px;
    }

    .or-contacts-email,
    .or-contacts-delimeter,
    .or-contacts-phone {
        display: inline;
        text-decoration: none;
        color: #000;
        font-size: 13px;
    }

    .or-section-header {
        font-size: 18px;
        margin-bottom: 15px;
        padding-top: 10px;
        border-top: 1px solid #e1e1e1;
    }

    .or-list {
        margin-bottom: 5px;
    }

    .or-list > li {
       margin-bottom: 1px!important;
       font-size: 13px;
       color: #111;
    }

    .or-section-subheader {
        font-size: 15px;
        margin-bottom: 0;
        color: #000;       
    }

    .or-section-subheader-extra {
        color: #444;
        font-size: 12px;
    }

    .or-location-icon {
        width: 12px;
        height: 12px;
        fill: #444;
    }

    .or-section-duration,
    .or-section-duration-dates {
        font-size: 11px;
        font-style: italic;
        margin-bottom: 10px;
        border: none;
        display: inline-block;
        padding: 0;
        border-radius: 3px;
        color: #444;
        background-color: transparent;
        border: none;
        position: relative;
        margin-bottom: 3px;
    }

    .or-section-duration {
        margin-right: 5px;
        padding-right: 10px;
        font-weight: bold;
    }

    .or-section-duration:after {
        content: "•";
        display: block;
        font-size: 11px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .or-section-heading-small {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .or-subsecton-wrap {
        padding-top: 8px;
        padding-left: 0;
    }   

    .or-subsecton {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
        margin-left: 0;
    }

    .or-subsecton:before,
    .or-section-duration:before {
        display: none;
    }  

    .or-skill-list {
        display: flex;
        flex-wrap: wrap;
    }    

    .or-skill {
        font-size: 13px;
        width: 50%;
        padding-right: 15px;
        border-bottom: none;
        margin: 0;
        padding: 2px 0;
    }

    .or-skill-name {
        padding-right: 15px;
    }

    .or-skill-years-dt,
    .or-skill-years-mb {
        color: #000;
    }

    .or-skill-bar {
        display: none;
    }

    .or-technologies > li {
        font-size: 12px;
        color: #000;
        border: none;
        padding: 0 7px;
        margin: 0 7px 0 0;
        position: relative;
    }

    .or-technologies > li:before {
        content: "•";
        display: block;
        font-size: 12px;
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translateY(-50%);
    }

    .or-technologies > li:first-of-type {
        padding-left: 0;
    }

    .or-technologies > li:last-of-type:before {
        display: none;
    }
}