---
layout: layouts/base.html
---

<button type="button" onclick="generate()">Generate resume</button>
<script src="/assets/scripts/index.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

<script>
    var resumeObject = {{ resume.contents | stringify | safe }}
</script>

  
<script>

    const renderIntro = () => {

        const childrenArray = [];

        const nameRole = new docx.Paragraph({
            heading: docx.HeadingLevel.HEADING_1,  
            children: [
                new docx.TextRun({
                    text: resumeObject.name,
                    font: "Arial",
                    size: 30,           
                }),
                new docx.TextRun({
                    text: resumeObject.role,
                    font: "Arial",
                    size: 24,                        
                    break: 1,
                }),
            ]                
        })

        const contacts = new docx.Paragraph({
            children: [
                new docx.TextRun({
                    text: resumeObject.phone,
                    font: "Arial",
                    size: 20,           
                }),
                new docx.TextRun({
                    text: " \u2022 ",
                    font: "Arial",
                    size: 20,    
                }),
                new docx.TextRun({
                    text: resumeObject.email,
                    font: "Arial",
                    size: 20,    
                }),
            ]                
        })        

        childrenArray.push(nameRole);        
        childrenArray.push(contacts);
        
        resumeObject.intro.forEach(element => {            
            const introParagraph = new docx.Paragraph({  
                children: [
                    new docx.TextRun({
                        text: element,
                        font: "Arial",
                        size: 20,                        
                        break: 1,
                    }),
                ]       
            })

            childrenArray.push(introParagraph);
        });
        
        return childrenArray;
    }

    const renderSectonTitle = (titleText) => {

        const title = new docx.Paragraph({
            heading: docx.HeadingLevel.HEADING_1,        
            text: titleText
        })

        return title;
    }

    const renderExpSectonTitle = (titleText) => {

        const title = new docx.Paragraph({
            heading: docx.HeadingLevel.HEADING_3,        
            text: titleText
        })

        return title;
    }

    const renderSkillsAndExperience = () => {

        const childrenArray = []       
        
        const skillsTable = new docx.Table({
            width: {
                size: 100,
                type: docx.WidthType.PERCENTAGE,
            },
            rows: [
                new docx.TableRow({
                    children: [
                        new docx.TableCell({
                            children: resumeObject.skills.map((skill, index) => { 

                                if(index < resumeObject.skills.length / 2){
                                    return renderExpBullet(`${skill.name} - ${skill.years} years`)
                                }                                
                            }),
                            width: {
                                size: 50,
                                type: docx.WidthType.PERCENTAGE,
                            }                           
                        }),
                        new docx.TableCell({
                            children: resumeObject.skills.map((skill, index) => { 
                                
                                if(index >= resumeObject.skills.length / 2){
                                    return renderExpBullet(`${skill.name} - ${skill.years} years`) 
                                }                                
                            }),
                            width: {
                                size: 50,
                                type: docx.WidthType.PERCENTAGE,
                            }  
                        }),
                    ],
                }),
            ]
        })       

        childrenArray.push(renderSectonTitle("Key skills and years of experience"))
        childrenArray.push(skillsTable)

        return childrenArray;
    }

    const renderEmploymentHistory = () => {

        let childrenArray = [];

        resumeObject.workExperience.forEach(element => {       

            const expParagraphTitle = new docx.Paragraph({   
                heading: docx.HeadingLevel.HEADING_2,
                children: [
                    new docx.TextRun({
                        text: `${formatMonthYear(element.duration.startDate)} - ${formatMonthYear(element.duration.endDate)}`,
                        bold: true,
                        font: "Arial",
                        size: 10,
                    }),
                    new docx.TextRun({
                        text: element.role,
                        bold: true,
                        font: "Arial",
                        size: 20,
                        italics: true,
                        break: 1,
                    }),
                    new docx.TextRun({
                        text: " at ",                            
                        font: "Arial",
                        size: 10,
                    }),
                    new docx.TextRun({
                        text: element.companyName,
                        bold: true,
                        font: "Arial",
                        size: 20,
                        italics: true
                    }),
                    new docx.TextRun({
                        text: ` - ${element.location.city}, ${element.location.country}`,
                        bold: true,
                        font: "Arial",
                        size: 16,
                        italics: true
                    }),
                ]
            })      
            
            childrenArray.push(renderSectonTitle("Employment history"))

            childrenArray.push(expParagraphTitle);

            childrenArray.push(renderExpSectonTitle("Responsibilities"))

            element.responsibilities.forEach( element => {
                childrenArray.push(renderExpBullet(element));
            })

            childrenArray.push(renderExpSectonTitle("Highlights"))

            element.highlights.forEach( element => {
                childrenArray.push(renderExpBullet(element));
            })

            childrenArray.push(renderExpSectonTitle("Technologies"))

            childrenArray.push(
                new docx.Paragraph({  
                    children: [
                        new docx.TextRun({
                            text: element.technologies,
                            font: "Arial",
                            size: 20,                        
                            break: 1,
                        }),
                    ]       
                })
            );

        });        

        return childrenArray;
    }
    

    const renderExpBullet = (text) =>{   

        const bullet = new docx.Paragraph({
            //text: text,
            children: [
                new docx.TextRun({
                    text: text,
                    font: "Arial",
                    size: 18,
                })
            ],
            numbering: {
                reference: "my-bullet-points",
                level: 0,
            }
        });

        return bullet;
    }

    const formatMonthYear = (partialDate) => { 

        var [year, month] = partialDate.split('-');

        const monthNames = [
            'January', 'February', 'March', 'April', 'May', 'June',
            'July', 'August', 'September', 'October', 'November', 'December'
        ];

        const date = new Date(year, parseInt(month) - 1);
        const formattedDate = `${monthNames[date.getMonth()]} ${date.getFullYear()}`;

        return formattedDate;
    };


    function generate() {
        const doc = new docx.Document({
            creator: resumeObject.name,            
            title: `${resumeObject.name} | ${resumeObject.role}`,

            numbering: {
                config: [
                    {
                        reference: "my-bullet-points",
                        levels: [
                            {
                                level: 0,
                                format: docx.LevelFormat.BULLET,
                                text: "\u2022",
                                alignment: docx.AlignmentType.LEFT,
                                style: {
                                    paragraph: {
                                        indent: { left: docx.convertInchesToTwip(0.5), hanging: docx.convertInchesToTwip(0.25) },
                                    },
                                },
                            },
                        ],
                    },
                ],
            },         
            sections: [            
            {
                properties: {
                    page: {
                        margin: {
                            top: 700,
                            right: 700,
                            bottom: 700,
                            left: 700,
                        },
                    },
                },

                children: [
                    ...renderIntro(),                    
                    ...renderSkillsAndExperience(),
                    ...renderEmploymentHistory()
                ] 
            },                
            ],
        });

        docx.Packer.toBlob(doc).then((blob) => {
            console.log(blob);
            saveAs(blob, "example.docx");
            console.log("Document created successfully");
        });

        
    }
</script>

<header class="or-header" id="orTop">
    <div class="container">
        <div class="or-header-content">

            <button onClick="window.print()" class="or-print-button">
                <svg tabindex="-1" focusable="false" aria-hidden="true">
                    <use tabindex="-1" focusable="false" xlink:href="#icon-print"></use>
                </svg>
                Print
            </button>

            <div class="or-header-photo-wrap">
                <img class="or-header-photo" src="/assets/images/{{resume.contents.photo}}" width="92" height="92" alt="photo of Oleg Rybin">
            </div>        
            <h1 class="or-header-title">
                <span class="or-header-title-main">{{resume.contents.name}}</span>
                <span class="or-header-title-subtitle">{{resume.contents.role}}</span>            
            </h1>    
            
            <p class="or-contacts">
                <a href="https://www.linkedin.com/in/oleg-rybin-70a56322/" title="Oleg Rybin's LinkedIn page" class="or-contacts-linkedin">
                    <span class="sr-only">Go to Oleg Rybin's Linked In page</span>
                    <svg focusable="false" tabindex="-1" aria-hidden="true" ><use focusable="false" tabindex="-1" xlink:href="#icon-linkedin"></use></svg>
                </a>
                <a class="or-contacts-email or-nobr" href="mailto:&#x6F;&#x6C;&#x65;&#x67;&#x40;&#x6F;&#x6C;&#x65;&#x67;&#x72;&#x79;&#x62;&#x69;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;">oleg@olegrybin<span>.olegrybin</span>.com</a>
                <span  class="or-contacts-delimeter" aria-hidden="true">&nbsp;&nbsp;|&nbsp;&nbsp;</span>                
                <a href="tel:+16474011468" class="or-contacts-phone or-nobr">+1 (647) 401<span>401</span>-1468</a>
            </p>
            <div class="or-intro">
                {% for paragraph in resume.contents.intro %}
                <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    </div>    
</header>

<main tabindex="-1" id="orMain">

    <section class="or-section or-section--skills"> 
        <div class="container">
            <div class="or-section-content">            
                <h2 class="or-section-header">Key skills and years of experience</h2>
                <ul class="or-skill-list" id="orSkillList">
                    {% for skill in resume.contents.skills %}
                    <li class="or-skill">
                        <div class="or-skill-name">{{ skill.name }}<span class="or-skill-years-mb"> ({{ skill.years }} years)</span></div>
                        
                        <div class="or-skill-bar-wrap">
                            <div class="or-skill-bar" data-years="{{ skill.years }}"></div>
                        </div> 
                        <div class="or-skill-years-wrap">
                            <span class="or-skill-years-dt">{{ skill.years }} years</span>
                        </div>            
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </section>

    <section class="or-section or-section--employment">
        <div class="container">
            <div class="or-section-content">
            <h2 class="or-section-header">Employment history</h2>

            {% for item in resume.contents.workExperience %}
    
            <article class="or-subsecton">

                <span class="or-section-duration">{{item.duration.startDate | getNumberOfYearsBetween(item.duration.endDate)}}</span><span class="or-section-duration-dates">{{ item.duration.startDate | formatMonthYear}} - {{ item.duration.endDate | formatMonthYear }}</span>

                <h3 class="or-section-subheader">{{ item.role }} <span class="or-section-subheader-small-text">at</span> <span class="or-company-name">{{ item.companyName }}</span> <span class="or-section-subheader-extra"> <svg tabindex="-1" class="or-location-icon" focusable="false" aria-hidden="true">
                    <use tabindex="-1" focusable="false" xlink:href="#icon-location"></use>
                </svg> {{ item.location.city }}, {{ item.location.country }}</span></h3>    
    
                <div class="or-subsecton-wrap">
                    <h4 class="or-section-heading-small">Responsibilities</h4>
                    <ul class="or-list">
                        {% for responsibility in item.responsibilities %}
                        <li>
                            {{responsibility}}
                        </li>
                        {% endfor %}
                    </ul>    
        
                    {% if item.highlights | length %}
                        <h4 class="or-section-heading-small">Highlights</h4>
                        <ul class="or-list">
                            {% for highlight in item.highlights %}
                            <li>
                                {{highlight}}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h4 class="or-section-heading-small">Technologies</h4>
                    <ul class="or-technologies">
                        {{item.technologies | commaSeparatedToListItems | safe }}
                    </ul>
                </div>          
                </article>    
            {% endfor %}           
        </div>       
    </div>
    </section>

            
</main>